* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin modal {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar {
  @include modal;
  ul {
    margin-right: 600px;
    list-style: none;
    display: flex;
    gap: 20px;
  }
}

$font-size: 20px;
$width: 130px;
$height: 35px;
$border-radius: 5px;

.btn {
  background-color: transparent;
  font-size: $font-size;
  height: $height;
  width: $width;
  border-radius: $border-radius;
  &:hover {
    background-color: black;
    color: white;
    i {
      color: white;
    }
  }
  i {
    font-size: 18px;
    margin-left: 5px;

    color: black;
  }
}

.module {
  text-align: center;
  background-color: rgb(15, 14, 14);
  width: 100%;
  height: 350px;
  color: white;
  font-size: 27px;
  display: flex;

  align-items: center;
  justify-content: center;
}
.header {
  @extend .module;
  p {
    margin-top: 20px;
  }
}

@mixin middle {
  width: 278px;
  height: 450px;
  text-align: center;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 100px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main {
  @include middle;
  h2 {
    margin-top: 20px;
  }
  p {
    margin-top: 20px;
  }
  button {
    border: 1px solid;
  }
}

img {
  width: 278px;
  border-radius: 6px;
}

.footer {
  width: 100%;
  height: 180px;
  background-color: black;
  margin-top: 100px;
  p {
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 90px;
  }
}
